*, *::backdrop, *::after {
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}

#file-management {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#text {
	height: min(100% - 2rem, 10000px);
	width: min(100% - 2rem, 10000px);
	margin-inline: auto;
	text-align: start;
}