*, *::before, *::after {
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}

#file-management {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#text {
	height: min(100% - 20rem, 10000px);
	width: min(100% - 4rem, 10000px);
	margin-inline: auto;
	vertical-align: top;
  	text-align: left;
	border: 1px black solid;
	border-radius: .5rem;
	padding: 5px;
}

.bold {
	font-weight: bold;
	color: red;
	font-size: large;
}

.file-extention {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	background-color: gray;
	border-radius: .2rem;
}
