*, *::backdrop, *::after {
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}

#file-management {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#text {
	height: max-content;
	width: min(100% - 2rem, 600px);
	margin-inline: auto;
}