:root {
	--gap: 40px;
}

*, *::backdrop, *::after {
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--gap);
}

#file-management {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}